@font-face {
    font-family: 'arial_rounded_mtregular';
    src: url('font/arial-rounded-mt-webfont.woff2') format('woff2'),
         url('font/arial-rounded-mt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}